@at-root {

	$module: 'appearance';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			appearance: $value;
			-webkit-appearance: $value;
		}
	}

}
