@include set-default(module, 'background-color', (
	root        : 'bgc',
	values      : build-color-map(get-keys(palettes)),
	breakpoints : get(breakpoint),
	states      : option(namescheme, states)
) );
