@include set-default( modules, 'background-color', (
	root        : 'bgc',
	values      : build-color-map(get-keys(palettes)),
	breakpoints : get-keys(breakpoints),
	states      : get-keys(states)
) );
