@at-root {

	$module: 'border-color';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			border-color: $value;
		}
	}

	// Directional border colors
	//
	// intentionally declared after the base border colors
	// so that directional border colors are lower in the cascade
	@each $direction, $d in get(directions) {
		@each $key, $value in module($module, 'values') {
			@include css-ruleset(
				$module   : module($module),
				$variant  : $d,
				$modifier : $key
			) {
				@if $direction == 'horizontal' {
					border-left-color: $value;
					border-right-color: $value;
				} @else if $direction == 'vertical' {
					border-top-color: $value;
					border-bottom-color: $value;
				} @else {
					border-#{$direction}-color: $value;
				}
			}
		}
	}

}
