@include set-default( modules, 'cursor', (
	root        : 'cursor',
	values      : (
		a             : auto,
		n             : none,
		help          : help,
		pointer       : pointer,
		progress      : progress,
		wait          : wait,
		cell          : cell,
		crosshair     : crosshair,
		text          : text,
		vertical-text : vertical-text,
		alias         : alias,
		copy          : copy,
		move          : move,
		no-drop       : no-drop,
		not-allowed   : not-allowed,
		zoom-in       : zoom-in,
		zoom-out      : zoom-out,
		grab          : grab,
		grabbing      : grabbing
	),
	states      : get-keys(states)
) );
