@at-root {

	$module: 'outline-offset';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			outline-offset: $value;
		}
	}

}
