// Palettes
//
// **Configure global color palettes**
//
// ```
// @include set-default( palettes, grey, (
// 	xlight: #fafafa,
// 	light: #e0e0e0,
// 	base: #bdbdbd,
// 	dark: #9e9e9e,
// 	xdark: #424242
// ) );
//
// @include set-default( palettes, blue, (
// 	light: #e3f2fd,
// 	base: #42a5f5,
// 	dark: #0d47a1
// ) );
// ...
// See source file for full configuration
// ```
//
// Carapace provides a bunch of default colors, but you should configure these on a per-project basis.
//
// `palettes` should be defined as a map with base color names as keys, and the value of each key should be a map shades to color values.
//
// Use Scarab's `palette()` getter function to return the color of a color palette.
//
// Style guide: Config.Palettes

@include set-default( palettes, white, (
	base: #ffffff
) );

@include set-default( palettes, black, (
	light: #212121,
	base: #101010,
	dark: #000000
) );

@include set-default( palettes, grey, (
	xlight: #fafafa,
	light: #e0e0e0,
	base: #bdbdbd,
	dark: #9e9e9e,
	xdark: #424242
) );

@include set-default( palettes, blue, (
	light: #e3f2fd,
	base: #42a5f5,
	dark: #0d47a1
) );

@include set-default( palettes, green, (
	light: #f1f8e9,
	base: #66BB6A,
	dark: #33691e
) );

@include set-default( palettes, red, (
	light: #ffebee,
	base: #e57373,
	dark: #b71c1c
) );

@include set-default( palettes, shadow, (
	light: rgba( 0, 0, 0, 0.125 ),
	base: rgba( 0, 0, 0, 0.25 )
) );

@include set-default( palettes, primary, (
	light: palette( light blue ),
	base: palette( blue ),
	dark: palette( dark blue )
) );

@include set-default( palettes, confirm, (
	light: palette( light green ),
	base: palette( green ),
	dark: palette( dark green )
) );

@include set-default( palettes, warning, (
	light: palette( light red ),
	base:  palette( red ),
	darl: palette( dark red )
) );
