// X
//
// **Configure global sizing for the x-axis**
//
// ```
//
// @include set-default( x, xs, (
// 	base: bl(0.5),
// 	medium: bl(0.75)
// ) );
//
// @include set-default( x, s, (
// 	base: bl(1),
// 	medium: bl(1.5)
// ) );
// ...
// See source file for configuration
// ```
//
// The `x` sizing configuration map is used determine the horizontal sizing of some layout and helpers classes.
//
// Style guide: Config.X

@include set-default( x, xs, (
	base:   bl(0.5),
	medium: bl(0.75)
) );

@include set-default( x, s, (
	base:   bl(1),
	medium: bl(1.5)
) );

@include set-default( x, m, (
	base:   bl(2),
	medium: bl(3)
) );

@include set-default( x, l, (
	base:   bl(3),
	medium: bl(4.5)
) );

@include set-default( x, xl, (
	base:   bl(4),
	medium: bl(6)
) );

@include set-default( x, '0', (
	base:   0,
	medium: 0
) );

@include set-default( x, default, x(m) );
