// Breakpoints
//
// **Configure global breakpoints**
//
// ```
// @include define( breakpoints, (
// 	tiny:   em(480),
// 	small:  em(640),
// 	medium: em(960),
// 	large:  em(1440),
// 	huge:   em(1920)
// ) );
// ```
//
// The `BREAKPOINTS` configuration map is used in conjunction with Scarab's `breakpoint()`, `type-scale()`, `query()` and `responsive()` mixins.
//
// Adjust these breakpoints as required by your design. You may define a different number of breakpoints than what is provided by default and use them throughout your project.
//
// Style guide: Config.Breakpoints

@include define( breakpoints, (
	tiny:   em(480),
	small:  em(640),
	medium: em(960),
	large:  em(1440),
	huge:   em(1920),
) );
