// Durations
//
// **Configure global durations**
//
// ```
// @include define( durations, (
// 	short:  0.15s,
// 	medium: 0.4s,
// 	long:   1.2s
// ) );
//
// @include define( durations, default, duration(short) );
// ```
//
// Configure `DURATIONS` for consistent transition and animation duration values throughout your project. Use Scarab's `duration()` getter function to return the value of a named duration.
//
// Carapace sets the default duration to `short`.
//
// Style guide: Config.Durations

@include define( durations, (
	short:  0.15s,
	medium: 0.4s,
	long:   1.2s
) );

@include define( durations, default, duration(short) );

