// Y
//
// **Configure global sizing for the y-axis**
//
// ```
// See source file for configuration
// ```
//
// Similar to the its counterpart, the `y` configuration map is responsible for the vertical sizing of some layout and helper classes.
//
// Style guide: Config.Y

@include define( y, (
	XS: (
		base: bl(0.5),
		medium: bl(0.75)
	),

	S: (
		base: bl(1),
		medium: bl(1.5)
	),

	M: (
		base: bl(2),
		medium: bl(3)
	),

	L: (
		base: bl(3),
		medium: bl(4.5)
	),

	XL: (
		base: bl(4),
		medium: bl(6)
	),

	'0': (
		base: 0,
		medium: 0
	)
) );
