@at-root {

	$module: 'animation-timing-function';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			animation-timing-function: $value;
		}
	}

}
