@at-root {

	$module: 'animation-delay';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			animation-delay: $value;
		}
	}

}
