@include set-default(module, 'transition-property', (
	root   : 'tsn-prop',
	values : (
		n  : none,
		a  : all,
		o  : opacity,
		t  : transform,
		c  : color,
		bd : border,
		bg : background
	),
	states : option(namescheme, states)
) );
