// Align
//
// **Set the text alignment of an element**
//
// Markup: align.html
//
// Weight: 10
//
// Style guide: Typography.Align

.align-left {
	@include breakpoint-hooks {
		text-align: left;
	}
}

.align-center {
	@include breakpoint-hooks {
		text-align: center;
	}
}

.align-right {
	@include breakpoint-hooks {
		text-align: right;
	}
}

.align-justify {
	@include breakpoint-hooks {
		text-align: justify;
	}
}
