// Font styles
//
// **Set the style and decoration of text elements**
//
// Markup: font-styles.html
//
// Weight: 101
//
// Style guide: Typography.Styles

%font-italic,
.font-italic {
	font-style: italic;
}

%font-underline,
.font-underline {
	text-decoration: underline;
}

%font-strikethrough,
.font-strikethrough {
	text-decoration: line-through;
}

%font-uppercase,
.font-uppercase {
	text-transform: uppercase;
}

%font-lowercase,
.font-lowercase {
	text-transform: lowercase;
}

%font-capitalize,
.font-capitalize {
	text-transform: capitalize;
}

%font-tracked,
.font-tracked {
	letter-spacing: 0.175em;
}
