// Typeset
//
// **Apply typographical styles to a container**
//
// Typographical elements within a container that has the `.typeset` class will have their typographical styles applied without the need to apply a class name individually on each element.
//
// This is useful for blog posts, articles and WYSIWYG or markdown-generated content.
//
// Markup: typeset.html
//
// Weight: 9
//
// Style guide: Typography.Typeset

.typeset {
	@each $element in ( p, h1, h2, h3, h4, h5, h6, ul, ol ) {
		#{ $element } {
			@extend %#{ $element } !optional;
		}
	}

	@each $element in ( h1, h2, h3, h4, h5, h6, ul, ol ) {
		.#{ $element } {
			@extend %#{ $element } !optional;
		}
	}

	a {
		@extend %link !optional;
	}

	strong, b {
		@extend %fw-bold !optional;
	}

	i, em {
		@extend %font-italic !optional;
	}

	u {
		@extend %font-underline !optional;
	}

	strike {
		@extend %font-strikethrough !optional;
	}

	table {
		@extend %table !optional;
		@extend %table--full !optional;
	}

	%fw-bold,
	.fw-bold {
		font-weight: bold !important;
	}

	%fw-normal,
	.fw-normal {
		font-weight: normal !important;
	}

	@each $weight in (
		100,
		200,
		300,
		400,
		500,
		600,
		700,
		800,
		900
	) {
		%fw-#{ $weight },
		.fw-#{ $weight } {
			font-weight: $weight !important;
		}	
	}
}
