// Center
//
// **Centers an element horizontally inside its parent**
//
// Markup: center.html
//
// Weight: 3
//
// Style guide: Layout.Center

%center,
.center {
	@include breakpoint-hooks() {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}
