<div class="contain">
	<code class="h3">.contain</code>
</div>

<div class="contain">
	<div class="push-y--xl">
		<div class="card pad--s">
			<p class="h4">Top margin of the first child is collapsed</p>
		</div>
	</div>

	<div class="push-y--xl">
		<div class="card pad--s">
			<p class="h4">Middle children have top and bottom margins</p>
		</div>
	</div>

	<div class="push-y--xl">
		<div class="card pad--s">
			<p class="h4">Bottom margin of the last child is collapsed</p>
		</div>
	</div>
</div>
