// Contain
//
// **Collapses the top and bottom margins of an element's first and last children respectively**
//
// Markup: contain.html
//
// Weight: 9
//
// Style guide: Layout.Contain

@include component ( contain ) {
	$options: get( components, contain, options );
	$breakpoint-mods: map-get( $options, breakpoint-mods );

	@include breakpoint-hooks( $breakpoint-mods ) {
		& > * {
			&:first-child {
				margin-top: 0 !important;
			}

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
}
