// Flex Grid
//
// **Arranges an element's children into a Flexbox-based grid layout**
//
// .flex-grid--center               - Center grid items
// .flex-grid--justify              - Justify grid items
// .flex-grid--justify-between      - Justify grid items
// .flex-grid--baseline             - Justify grid items
// .flex-grid--align-start          - Justify grid items
// .flex-grid--align-end            - Justify grid items
// .flex-grid--align-middle         - Justify grid items
// .flex-grid--align-stretch        - Justify grid items
// .flex-grid--gutter-x-0           - Justify grid items
// .flex-grid--gutter-y-0           - Justify grid items
// .flex-grid--gutter-0             - Justify grid items
//
// Markup: flex-grid.html
//
// Weight: 7
//
// Style guide: Layout.Flex--Grid

// @include component ( flex-grid ) {

// 	$options: get( components, flex-grid, options );
// 	$gutter-x: map-get( $options, gutter-x );
// 	$gutter-y: map-get( $options, gutter-y );

// }

@include component ( flex-grid ) {
	$options: get( components, flex-grid, options );
	$columns:  map-get( $options, columns );
	$gutter-x: map-get( $options, gutter-x );
	$gutter-y: map-get( $options, gutter-y );

	@include breakpoint-hooks() {
		display: flex;
		margin-left: negative($gutter-x * 0.5);
		margin-right: negative($gutter-x * 0.5);
		margin-bottom: negative($gutter-y);
		flex-wrap: wrap;

		& > * {
			padding-left: $gutter-x * 0.5;
			padding-right: $gutter-x * 0.5;
			padding-bottom: $gutter-y;
		}
	}

	@each $column-size in $columns {
		&--#{ $column-size } {
			@for $column from 1 through $column-size {
				.g__#{ $column } {
					@include breakpoint-hooks() {
						width: 100% / $column-size * $column;
						flex-basis: 100% / $column-size * $column;
					}
				}

				.g--push-#{ $column } {
					@include breakpoint-hooks() {
						margin-left: 100% / $column-size * $column;
					}
				}
			}
		}
	}

	&--justify {
		@include breakpoint-hooks() {
			justify-content: space-around;
		}
	}

	&--justify-between {
		@include breakpoint-hooks() {
			justify-content: space-between;
		}
	}

	&--center {
		@include breakpoint-hooks() {
			justify-content: center;
		}
	}

	&--align-baseline {
		@include breakpoint-hooks() {
			align-items: baseline;
		}
	}

	&--align-start {
		@include breakpoint-hooks() {
			align-items: flex-start;
		}
	}

	&--align-end {
		@include breakpoint-hooks() {
			align-items: flex-end;
		}
	}

	&--align-middle {
		@include breakpoint-hooks() {
			align-items: center;
		}
	}

	&--align-stretch {
		@include breakpoint-hooks() {
			align-items: stretch;
		}
	}

	&--gutter-y-0 {
		@include breakpoint-hooks() {
			margin-bottom: 0;

			& > * {
				padding-bottom: 0;
			}
		}
	}

	&--gutter-x-0 {
		@include breakpoint-hooks() {
			margin-left: 0;
			margin-right: 0;

			& > * {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&--gutter-0 {
		@include breakpoint-hooks() {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;

			& > * {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
			}
		}
	}
}
