<div class="contain">
	<code class="h3">.flex-grid .{{ modifier_class }}</code>
</div>
<div class="flex-grid {{ modifier_class }}">
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eveniet, omnis minima.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nobis amet, a soluta, commodi sunt adipisci repudiandae atque aspernatur dolore id porro velit eveniet!</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ratione delectus totam voluptas accusamus, quam dolor soluta fugiat illo sed debitis molestiae inventore sit consequuntur corrupti necessitatibus? Deleniti possimus fuga saepe ipsa ducimus tempora animi, dicta distinctio nulla! Veniam, sed.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ipsum quaerat facilis.</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At voluptate quod animi.</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ut nostrum nemo.</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ratione delectus totam voluptas accusamus, quam dolor soluta fugiat illo sed debitis molestiae inventore sit consequuntur corrupti necessitatibus? Deleniti possimus fuga saepe ipsa ducimus tempora animi, dicta distinctio nulla! Veniam, sed.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ipsum quaerat facilis.</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo accusantium, repellendus hic.</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, harum, repudiandae. Asperiores?</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nemo iusto quas.</p>
	</div>
	<div class="card  measure--xs  pad--s">
		<p class="h4">Lorem ipsum dolor sit.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ratione delectus totam voluptas accusamus, quam dolor soluta fugiat illo sed debitis molestiae inventore sit consequuntur corrupti necessitatibus? Deleniti possimus fuga saepe ipsa ducimus tempora animi, dicta distinctio nulla! Veniam, sed.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ipsum quaerat facilis.</p>
	</div>
</div>
