// Grid
//
// **Sets up a responsive float-based grid layout**
//
// .grid--gutter-x-0 - Remove horizontal gutters
// .grid--gutter-y-0 - Remove vertical gutters
// .grid--gutter-0   - Remove gutters
//
// Markup: grid.html
//
// Weight: 6
//
// Style guide: Layout.Grid

@include define( grid, (
	columns: 12,
	gutter-x: bl(2),
	gutter-y: bl(2)
) );

@at-root {
	$grid: global( grid );
		$columns:  map-get( $grid, columns );
		$gutter-x: map-get( $grid, gutter-x );
		$gutter-y: map-get( $grid, gutter-y );

	.grid {
		@extend .clearfix;

		margin-bottom: $gutter-y * -1;
		margin-left: $gutter-x * 0.5 * -1;
		margin-right: $gutter-x * 0.5 * -1;

		& > [ class ^= g__ ] {
			width: 100%;
			float: left;
			margin-bottom: $gutter-y;
			padding-left: $gutter-x * 0.5;
			padding-right: $gutter-x * 0.5;
			box-sizing: border-box;

			& + [ class ^= g__ ] {
				clear: right;
			}
		}
	}

	.grid--#{ $columns } {
		@for $column from 1 through $columns {
			.g__#{ $column } {
				@include breakpoint-hooks() {
					width: 100% / $columns * $column;	
				}
			}

			.g--push-#{ $column } {
				@include breakpoint-hooks() {
					margin-left: 100% / $columns * $column;
				}
			}
		}
	}

	.grid--gutter-x-0 {
		@include breakpoint-hooks() {
			margin-left: 0;
			margin-right: 0;

			& > [ class ^= g__ ] {
				padding-left: 0;
				padding-right: 0;	
			}
		}
	}

	.grid--gutter-y-0 {
		@include breakpoint-hooks() {
			margin-bottom: 0;

			& > [ class ^= g__ ] {
				margin-bottom: 0;
			}
		}
	}

	.grid--gutter-0 {
		@include breakpoint-hooks() {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;

			& > [ class ^= g__ ] {
				padding-left: 0;
				padding-right: 0;	
				margin-bottom: 0;
			}
		}
	}	
}
