<div class="contain">
	<code class="h3">.grid .grid--12 {{ modifier_class }}</code>
</div>
<div class="grid grid--12 {{ modifier_class }}">
	<div class="g__6">
		<div class="card">
			<p class="h4"><code>.g__6</code><br>
			6 Columns</p>
		</div>
	</div>

	<div class="g__6">
		<div class="card">
			<p class="h4"><code>.g__6</code><br>
			6 Columns</p>
		</div>
	</div>

	<div class="g__12 g__4@small g__3@large">
		<div class="card">
			<p class="h4"><code>.g__12 .g__4@small .g__3@large</code><br>
			12 Columns by default, 4 at 'small', 3 at 'large'</p>
		</div>
	</div>

	<div class="g__12 g__4@small g__6@large">
		<div class="card">
			<p class="h4"><code>.g__12 .g__4@small .g__3@large</code><br>
			12 Columns by default, 4 at 'small', 6 at 'large'</p>
		</div>
	</div>

	<div class="g__12 g__4@small g__3@large">
		<div class="card">
			<p class="h4"><code>.g__12 .g__4@small .g__3@large</code><br>
			12 Columns by default, 4 at 'small', 3 at 'large'</p>
		</div>
	</div>

	<div class="g__12 g__9@large g--push-3@large">
		<div class="card">
			<p class="h4"><code>g__12 g__9@large g--push-3@large</code><br>
			12 Columns by default, 9 at 'large' with a 3-column offset</p>
		</div>
	</div>
</div>
