// Scroller
//
// **Enable child elements to scroll horizontally if they exceed the width of the container**
//
// .scroller--equal-width        - Makes each content item occupy the same width
// .scroller--no-touch-scrolling - Disable iOS smooth touch scrolling
// .scroller--force-scrollbar    - Force the scrollbar to appear on some devices even if there is no need to scroll 
//
// Markup: scroller.html
//
// Weight: 8
//
// Style guide: Layout.Scroller

@include component ( scroller ) {
	@include breakpoint-hooks() {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		& > .scroller__content {
			display: table;

			& > * {
				display: table-cell;

				img {
					max-width: none;
				}
			}	
		}
	}

	&--equal-width {
		& > .scroller__content > * {
			width: 1%;
		}
	}

	&--no-touch-scrolling {
		@include breakpoint-hooks() {
			-webkit-overflow-scrolling: auto;
		}
	}

	&--force-scrollbar {
		@include breakpoint-hooks() {
			overflow: scroll;
		}
	}
}
