<div class="contain">
	<code class="h3">.scroller .{{ modifier_class }}</code>
</div>

<div class="scroller {{ modifier_class }}">
	<div class="scroller__content">
		<div class="card">
			<p class="h1">1</p>
		</div>
		<div class="card">
			<p class="h1">2</p>
		</div>
		<div class="card">
			<p class="h1">3</p>
		</div>
		<div class="card">
			<p class="h1">4</p>
		</div>
		<div class="card">
			<p class="h1">5</p>
		</div>
		<div class="card">
			<p class="h1">6</p>
		</div>
		<div class="card">
			<p class="h1">7</p>
		</div>
		<div class="card">
			<p class="h1">8</p>
		</div>
		<div class="card">
			<p class="h1">9</p>
		</div>
		<div class="card">
			<p class="h1">10</p>
		</div>
	</div>
</div>
