@include set-default(module, 'align-self', (
	root        : 'as',
	values      : (
		a  : auto,
		n  : normal,
		c  : center,
		s  : stretch,
		bl : baseline,
		fs : flex-start,
		fe : flex-end
	),
	breakpoints : get(breakpoint)
) );
