@at-root {

	$module: 'border-spacing';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			border-spacing: $value;
		}
	}

}
