@at-root {

	$module: 'border-collapse';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			border-collapse: $value;
		}
	}

}
