@include set-default( modules, 'display', (
	root        : 'd',
	values      : (
		n  : none,
		i  : inline,
		b  : block,
		ib : inline-block,
		li : list-item,
		t  : table,
		it : inline-table,
		tc : table-cell,
		f  : flex,
		if : inline-flex
	),
	breakpoints : get-keys(breakpoints),
	states      : get-keys(states)
) );
