@at-root {

	$module: 'justify-content';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			justify-content: $value;
		}
	}

}
