@include set-default(module, 'justify-content', (
	root        : 'jc',
	values      : (
		c : center,
		fs : flex-start,
		fe : flex-end,
		sb : space-between,
		sa : space-around
	),
	breakpoints : get(breakpoint)
) );
