@include set-default( modules, 'max-height', (
	root        : 'mxh',
	values      : (
		n     : none,
		0     : 0,
		100   : 100%,
		100vw : 100vw,
		100vh : 100vh
	),
	breakpoints : get-keys(breakpoints),
	states      : get-keys(states)
) );
