@at-root {

	$module: 'max-width';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			max-width: $value;
		}
	}

}
