@include set-default(module, 'max-width', (
	root        : 'mxw',
	values      : (
		n     : none,
		0     : 0,
		100   : 100%,
		100vw : 100vw,
		100vh : 100vh
	),
	breakpoints : get(breakpoint),
	states      : option(namescheme, states)
) );
