<div class="card  align-center@small">
	<div class="measure--l center contain">
		<p class="h2">
			<code>.card</code>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi!
		</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo accusamus iusto totam, quaerat quod, enim quam praesentium consequatur itaque voluptatem corporis eligendi culpa, debitis?</p>
	</div>

	<div class="stack stack--s  push-top">
		<div>
			<button class="btn btn--primary btn--l">Primary Button</button>
		</div>

		<div>
			<div class="stack stack--xs stack--horizontal">
				<button class="btn btn--s">Button One</button>
				<button class="btn btn--s">Button Two</button>
			</div>
		</div>
	</div>
</div>

<div class="card pad--s measure center  push-top">
	<p class="h2">
		<code>.card .pad--s .measure .center</code>
		<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi!
	</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo accusamus iusto totam, quaerat quod, enim quam praesentium consequatur itaque voluptatem corporis eligendi culpa, debitis?</p>

	<div class="stack stack--s  push-top--s">
		<div>
			<button class="btn btn--primary">Primary Button</button>
		</div>
	</div>
</div>
