@include set-default( modules, 'column-count', (
	root        : 'cols',
	values      : (
		auto : auto,
		0    : 0,
		1    : 1,
		2    : 2,
		3    : 3,
		4    : 4
	),
	breakpoints : get-keys(breakpoints)
) );
