@include set-default(module, 'font-variant-numeric', (
	root        : 'fvn',
	values      : (
		n  : normal,
		o  : ordinal,
		sz : slashed-zero,
		ln : lining-nums,
		on : oldstyle-nums,
		pn : proportional-nums,
		tn : tabular-nums,
		df : diagonal-fractions,
		sf : stacked-fractions
	)
) );
