@at-root {

	$module: 'font-variant-caps';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			font-variant-caps: $value;
		}
	}

}
