@at-root {

	$module: 'font-variant-numeric';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			font-variant-numeric: $value;
		}
	}

}
