@include set-default( modules, 'list-style-type', (
	root        : 'lst',
	values      : (
		n : none,
		d : disc,
		c : circle,
		s : square,
		a : lower-alpha,
		A : upper-alpha,
		1 : decimal,
		0 : decimal-leading-zero,
		r : lower-roman,
		R : upper-roman
	),
	breakpoints : get-keys(breakpoints)
) );
