@include set-default(module, 'text-decoration-color', (
	root        : 'tdc',
	values      : build-color-map(get-keys(palettes)),
	breakpoints : get(breakpoint),
	states      : option(namescheme, states)
) );
