@include set-default(module, 'text-decoration-line', (
	root        : 'tdl',
	values      : (
		u  : underline,
		o  : overline,
		lt : line-through,
		n  : none
	),
	breakpoints : get(breakpoint),
	states      : option(namescheme, states)
) );
