@include set-default( modules, 'text-align', (
	root        : 'ta',
	values      : (
		l  : left,
		r  : right,
		c  : center,
		j  : justify,
		ja : justify-all
	),
	breakpoints : get-keys(breakpoints)
) );
