@include set-default(module, 'text-align', (
	root        : 'ta',
	values      : (
		l  : left,
		r  : right,
		c  : center,
		j  : justify,
		ja : justify-all
	),
	breakpoints : get(breakpoint)
) );
