@at-root {

	$module: 'text-decoration-style';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			text-decoration-style: $value;
		}
	}

}
