@at-root {

	$module: 'type-scale';

	@each $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $value
		) {
			@include type-scale($value)
		}
	}

}
