@at-root {

	$module: 'type-scale';

	@each $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $value
		) {
			@include type-scale($value)
		}
	}

}
