@include set-default(module, 'typeset', (
	root        : 'typeset',
	values      : (
		b: ( font-weight: bold ),
		strong: ( font-weight: bold ),
		i: ( font-style: italic ),
		em: ( font-style: italic ),
		u: ( text-decoration: underline ),
		p: (
			type-scale: 'body',
			margin: bl(1)
		),
		h1: (
			type-scale: 'heading',
			margin: bl(2)
		),
		h2: (
			type-scale: 'subheading',
			margin: bl(2)
		),
		h3: (
			type-scale: 'accent',
			margin: bl(1.5)
		),
		h4: (
			type-scale: 'body',
			margin: bl(1.5)
		),
		h5: (
			type-scale: 'small',
			margin: bl(1)
		),
		h6: (
			type-scale: 'tiny',
			margin: bl(1)
		),
		blockquote: (
			type-scale: 'accent',
			margin: bl(1.5)
		),
		ul: (
			type-scale: 'body',
			margin: bl(1.5)
		),
		ol: (
			type-scale: 'body',
			margin: bl(1.5)
		),
		li: (
			type-scale: null,
			margin: bl(1)
		),
		img: (
			type-scale: null,
			margin: bl(1.5)
		),
		video: (
			type-scale: null,
			margin: bl(1.5)
		),
		iframe: (
			type-scale: null
		),
		embed: (
			type-scale: null,
			margin: bl(1.5)
		)
	)
) );
