@at-root {

	$module: 'word-spacing';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			word-spacing: $value;
		}
	}

}
