@at-root {

	$module: 'rotate-y';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			transform: rotateY($value);
		}
	}

}
