@at-root {

	$module: 'scale-z';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			transform: scaleZ($value);
		}
	}

}
