@at-root {

	$module: 'transform-origin';

	@each $key, $value in module($module, 'values') {
		@include css-ruleset(
			$module   : module($module),
			$modifier : $key
		) {
			transform-origin: $value;
		}
	}

}
