@at-root {

	$module: 'transform-origin';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			transform-origin: $value;
		}
	}

}
