@at-root {

	$module: 'flex-grid';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
