@include set-default(module, 'measure', (
	root        : 'measure',
	values      : (
		xs : em(240),
		s  : em(360),
		m  : em(640),
		l  : em(800),
		xl : em(960)
	),
	breakpoints : get(breakpoint)
) );
