@include set-default(module, 'ratio', (
	root        : 'ratio',
	values      : (
		25  : 25%,
		33  : 33.33333%,
		50  : 50%,
		66  : 66.66667%,
		75  : 75%,
		100 : 100%,
		125 : 125%,
		150 : 150%,
		200 : 200%
	),
	breakpoints : get(breakpoint)
) );
