@at-root {

	$module: 'stack';

	@each $direction, $d in get(directions) {
		// Only generate horizontal and vertical classes
		@if $direction == 'horizontal' or $direction == 'vertical' {
			@each $key, $value in module($module, 'values') {
				@include declare-style(
					$module   : $module,
					$variant  : $d,
					$modifier : $key
				) {
					& > * {
						@if $direction == 'horizontal' {
							display: inline-block;
							margin-right: $value;
						} @else if $direction == 'vertical' {
							display: block;
							margin-bottom: $value;
						}
					}

					& > *:last-child {
						@if $direction == 'horizontal' {
							margin-right: 0;
						} @else if $direction == 'vertical' {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

}
