@at-root {

	$module: 'webkit-overflow-scrolling';

	@each $key, $value in module($module, 'values') {
		@include declare-style(
			$module   : $module,
			$modifier : $key
		) {
			-webkit-overflow-scrolling: $value;
		}
	}

}
