@include set-default(module, 'wrap', (
	root        : 'wrap',
	values      : (
		xs : rem(300),
		s  : rem(480),
		m  : rem(768),
		l  : rem(960),
		xl : rem(1120)
	),
	breakpoints : get(breakpoint)
) );
