@if get(normalize-styles) != false {

	@at-root {

		// Use border-box for box-sizing
		*, *:before, *:after {
			box-sizing: border-box;
		}

		// Normalize font-size on mobile devices in landscape mode
		html {
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
		}

		// Responsive media objects
		audio, embed, img, iframe, video {
			max-width: 100%;
			height: auto;
		}

		// Pointer cursor on buttons
		button, input[type=submit], input[type=reset] {
			cursor: pointer;
		}
		
	}

}
