// Global sizing
@include set-default( sizes, (
	0  : 0,
	xs : bl(0.50),
	s  : bl(1.00),
	m  : bl(2.00),
	l  : bl(4.00),
	xl : bl(8.00)
) );

// Coordinates
@include set-default( coordinates, map-merge(
	get(sizes), 
	(
		50  : 50%,
		100 : 100%,
		a   : auto
	)
) );

@include set-default( anchors, (
	t  : top,
	b  : bottom,
	l  : left,
	r  : right,
	c  : center,
	tr : top right,
	tl : top left,
	br : bottom right,
	bl : bottom left
) );

// Angles
@include set-default( angles, (
	0   : 0,
	45  : 45deg,
	90  : 90deg,
	180 : 180deg
) );
