@include set( baseline, 1rem );

@include set( font-family, (
	serif: ( serif ),
	sans:  ( sans-serif ),
	mono:  ( monospace, monospace )
) );

@include set( font-size, (
	title:      rem(38.146972656),
	heading:    rem(30.517578125),
	subheading: rem(24.4140625),
	accent:     rem(19.53125),
	body:       rem(15.625),
	small:      rem(12.5),
	tiny:       rem(10),
	0:          0 
) );

@include set( line-height, (
	title:      bl(3.00),
	heading:    bl(2.50),
	subheading: bl(2.00),
	accent:     bl(1.50),
	body:       bl(1.50),
	small:      bl(1.00),
	tiny:       bl(1.00),
	0:          0 
) );

@include set( letter-spacing, (
	0  : 0,
	xs : -0.1em,
	s  : 0.05em,
	m  : 0.1em,
	l  : 0.2em,
	xl : 0.5em
) );

@include set( font-weight, (
	n : normal,
	b : bold,
	1 : 100,
	2 : 200,
	3 : 300,
	4 : 400,
	5 : 500,
	6 : 600,
	7 : 700,
	8 : 800,
	9 : 900
) );
