// Float
//
// **Floats an element left or right**
//
// Markup: float.html
//
// Weight: 4
//
// Style guide: Layout.Float

.float-left {
	@include breakpoint-hooks() {
		float: left !important;
	}
}

.float-right {
	@include breakpoint-hooks() {
		float: right !important;
	}
}

.float-none {
	@include breakpoint-hooks() {
		float: none !important;
	}
}
